#Ignore the logs directory
logs/

#Ignoring env 
.env

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.md
**/*.class

#Ignore docker files
.dockerignore
Dockerfile
docker-compose.yml

#Ignore db
*.sql